{{template "layout.go.html" .}}

{{ define "content"}}
<div class="hero h-[calc(100vh-64px-52px)]">
  <div class="hero-overlay bg-opacity-60 bg-primary"></div>
  <div class="hero-content text-center text-neutral-content">
    <form hx-post="/url" enctype="multipart/form-data" hx-swap="innerHTML" hx-target="this"
      hx-on::after-request="document.getElementById('urlList').scrollTo({top:document.getElementById('urlList').scrollHeight, behavior: 'smooth'})">
      {{block "url_form.go.html" .}}{{end}}
    </form>
  </div>
</div>
{{end}}
